input{
    border: none !important;
    border-bottom:  0.01px solid #d1cece !important;
}
input:focus{
    border: none !important;
    box-shadow: none !important;
    border-bottom:  0.01px solid #d1cece !important;

}
label{
    color: #1abc9c;
    font-weight: 600 !important;
    font-size: 17px;
}
.label label{
    top: 20px;  
    transition: 0.5s;
}